on boot
# Permissions for mDNIe
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system media_rw /sys/class/mdnie/mdnie/scenario

# Set mDNIe mode and scenario
    write /sys/class/mdnie/mdnie/scenario 0
    write /sys/class/mdnie/mdnie/mode 1
